* {
  box-sizzing: border-box; }

body {
  body-family: "proxima-nova";
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "lust";
  font-weight: 400; }

.cf:before, .cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

.wrapper {
  width: 1000ppx;
  max-width: 100%;
  margin: 0 auto; }

.banner {
  padding: 5em 0; }
  .banner .logo {
    float: left; }
  .banner h1 {
    color: #414148;
    text-align: right;
    font-size: 5em;
    display: inline;
    float: right;
    margin: 0; }
